{% extends 'base.html' %}
{% block body  %}

<div class="container-fluid full-page">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-12 text-center">
        <h1 class="display-3">WELCOME TO MyTodo APP!</h1>
        <div class="d-grid gap-2 col-6 mx-auto my-5">
        <a href="/login" class="btn btn-outline-secondary btn-lg">Login</a>
        <a href="/register" class="btn btn-outline-secondary btn-lg">Register</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock body %}